.banner {
    @include flexbox(center, center);
    height: calc(80vh - 70px);
    background: no-repeat center / cover url('../../images/banner-formations.jpg');

    &-content {
        padding: 0.5rem 1rem;
        background: $primary-opacity-light;
        border-radius: $border-radius;
        border: 1px solid gainsboro;
        backdrop-filter: blur(10px);

        &-title {
            color: whitesmoke;
            font-size: 2.5rem;
        }
    }
}
